$mainFont: "Tajawal";
$headerWeight: 700;
$subheaderWeight: 400;
$bodyWeight: 400;
$lightBodyWeight: 300;

$headerFontSizeMobile: 15vw;
$subheaderFontSizeMobile: 7vw;
$bodyFontSizeMobile: 8vw;

$headerFontSizeDesktop: 3vw;
$subheaderFontSizeDesktop: 2vw;
$bodyFontSizeDesktop: 1.2vw;

$darkColor: #333333;
$lightColor: white;
$tintColor: #16C667;
$secondaryColor: #77ECAD;

@mixin headerStyle($isMobile, $color, $fontSize: 0, $fontWeight: $headerWeight) {
	font-family: $mainFont;
	font-weight: $fontWeight;
	color: $color;
	@if $fontSize == 0 {
		@if $isMobile {
			font-size: $headerFontSizeMobile;
		}
		@else {
			font-size: $headerFontSizeDesktop;
		}
	}
	@else {
		font-size: $fontSize;
	}
}

@mixin subheaderStyle($isMobile, $color, $fontSize: 0, $fontWeight: $subheaderWeight) {
	font-family: $mainFont;
	font-weight: $fontWeight;
	color: $color;
	@if $fontSize == 0 {
		@if $isMobile {
			font-size: $subheaderFontSizeMobile;
		}
		@else {
			font-size: $subheaderFontSizeDesktop;
		}
	}
	@else {
		font-size: $fontSize;
	}
}

@mixin bodyStyle($isMobile, $color, $fontSize: 0, $fontWeight: $bodyWeight) {
	font-family: $mainFont;
	font-weight: $fontWeight;
	color: $color;
	@if $fontSize == 0 {
		@if $isMobile {
			font-size: $bodyFontSizeMobile;
		}
		@else {
			font-size: $bodyFontSizeDesktop;
		}
	}
	@else {
		font-size: $fontSize;
	}
}