@import "../../definitions";

.contact-page {
	margin: 25vw 0 0;
	.contact-section {
		padding-bottom: 15vw;
		.title {
			text-align: center;
		}
		text-align: center;
		@include bodyStyle(true, $darkColor);

		.enter-email-view {
			margin: 10vw 5vw;
		}
		.my-email {
			margin-top: 15vw;
		}
		.my-number {
			margin-top: 2vw;
		}
		.my-location {
			font-weight: 300;
			margin-top: 10vw;
		}
	}
}
