@import "../../definitions";

.work-page {
	margin: 25vw 0 0;
	font-family: $mainFont;
	.underlined-title {
		.underlined {
			width: 45%;
		}
	}
	.featured-work-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		margin: 5vw 5vw 0;
	}
}
