.subprong-page {
    header {
        color: white;
        font-size: 1.2vw;
        font-weight: 700;
        text-align: right;
        padding: 2vw 2vw 0 0;
        line-height: 1.5;
        span.black {
            color: #333333;
        }
        span.purple {
            color: #AE5BF5;
        }
        span.light {
            font-weight: 400;
        }
    }
    .quote-symbol {
        font-size: 20vw;
        font-family: "Nunito";
        font-weight: 900;

        position: absolute;
        left: 5vw;
        top: 0;
        color: #333333;
    }
    .quote-symbol.purple {
        color: #AE5BF5;
    }

    .title {
        transform-origin: center;
        position: absolute;
        color: white;
        font-size: 12vw;
        font-weight: 200;
        top: 50%;
        transform: translateY(-150%) scale(0.5);
        text-align: center;
        width: 100%;
    }
    .subprong {
        transform-origin: center;
        position: absolute;
        color: #333333;
        font-size: 6vw;
        font-weight: 700;
        top: 50%;
        transform: translateY(-175%) scale(0.5);
        text-align: center;
        width: 100%;
    }
    .subprong.purple {
        color: #AE5BF5;
    }
    .subprong-support {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 2.5vw;
        font-weight: 200;
        text-align: center;
        width: 70%;
        line-height: 1.5;
        .bold {
            font-weight: 700;
        }
        .italics {
            font-style: italic;
        }
    }
    .quote-support {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 2.5vw;
        font-weight: 200;
        text-align: left;
        width: 80%;
        line-height: 1.5;
        .bold {
            font-weight: 700;
        }
        .italics {
            font-style: italic;
        }
    }
    .quote-author {
        position: absolute;
        bottom: 5%;
        color: white;
        font-size: 2.5vw;
        font-weight: 200;
        text-align: right;
        width: 80%;
        left: 10%;
        line-height: 1.5;
        .bold {
            font-weight: 700;
        }
    }
}