.slide {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 98vw;
    height: calc(100vh - 2vw);
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.slide.full-screen {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.slide.with-shadow { 
    box-shadow: 0 2px 18px 0 rgba(0,0,0,0.5);
}