@import "../definitions";

nav {
	position: absolute;
	
	display: flex;
	flex-direction: row;
	margin: 5vw 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	justify-content: space-evenly;
	top: 0;
	.nav-item {
		a {
			color: inherit;
			text-decoration: inherit;
		}
		color: $lightColor;
		font-family: $mainFont;
		font-size: 1.5vw;
		cursor: pointer;
		transition: all 0.5s ease;
	}
	.nav-item:hover {
		opacity: 0.5;
	}
	.nav-item.selected {
		color: $secondaryColor;
	}
	.nav-item.dark {
		color: $darkColor;
	}
}