@media only screen and (min-width: 800px) {
	.work-page {
		.projects-title {
			.title {
				margin: 10vw auto 0;
				text-align: center;
				font-size: 5vw;
				font-weight: 800;
			}
			.underlined {
				background-color: $tintColor;
				height: 4px;
				width: 15%;
				margin: 0 auto 2vw;
				border-radius: 2px;
			}
		}
		.featured-work-container {
			display: grid;
			grid-auto-rows: auto;
			grid-template-columns: 1fr 1fr;
			grid-gap: 6.67vw;
			margin: 0 6.67vw;
		}
	}
	
}