.landing-page {
    position: relative;
    
    overflow: hidden;
    .intro-video {
        position: absolute;
        width: 110%;
        height: 110%;
        left: -5%;
        top: -5%;
        transition: filter 2s ease;
    }
    .intro-video.blurred {
        filter: blur(40px);
    }
    .top-half {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        top: 0;
        background-color: #333333;
        transform-origin: top;
    }
    .bottom-half {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        bottom: 0;
        background-color: #AE5BF5;
        transform-origin: bottom;
    }
    
    .title-border {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 30vh;
        border: 3px solid white;
        .title {
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 12vw;
            font-weight: 300;
        }
    }
}