.sub-timeline-page {
    display: grid;
    grid-template-rows: 1.5fr 1fr 2.5fr 1.5fr 1fr 1.5fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    .circle {
        position: absolute;
        left: 1vw;
        top: 1vw;
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        border: 1px solid #333333;
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-weight: 200;
        font-size: 1.5vw;
    }
    .chapter-title {
        font-size: 2vw;
        font-weight: 700;
    }
    .title {
        font-size: 3.2vw;
        font-weight: 200;
        align-self: start;
        border-bottom: 1px solid #333;
        width: 90vw;
        text-align: center;
        padding: 0 0 2vw;
    }
    .big-point1, .big-point2 {
        font-size: 5vw;
        font-weight: 700;
        justify-self: start;
        padding: 0 6vw;
    }
    .sub-point1, .sub-point2 {
        align-self: start;
        justify-self: start;
        padding: 0 7vw;
    }
}