.thesis-page {
    .title {
        position: absolute;
        font-size: 10vw;
        font-weight: 700;
        left: 5vw; top: 5vw;
        .underline {
            position: absolute;
            width: 65%;
            height: 20px;
            left: 15%;
            background-color: #AE5BF5;
        }
    }
    .thesis-body {
        position: absolute;
        left: 10vw;
        top: 22vw;
        .thesis-statement {
            font-size: 3vw;
            width: 90%;
            span {
                font-weight: 700;
                line-height: 1.5;
            }
        }
        .svg-path {
            width: 90%;
            margin: 3vw 0 0;
        }
        .prong {
            font-size: 2.5vw;
            position: absolute;
            transition: all 0.2s ease;
        }
        .prong-1 {
            left: 3vw;
            top: 11.5vw;
        }
        .prong-2 {
            top: 16vw;
            left: 28vw;
        }
        .prong-3 {
            top: 21.5vw;
            left: 63vw;
        }
        .prong.hidden {
            opacity: 0;
        }
    }
}