
.featured-work-item {
	display: flex;
	flex-direction: column;
	justify-content: start;
	.featured-image-container {
		border-radius: 1vw;
		height: 90vw;
		display: flex;
		align-items: center;
		justify-content: center;
		.featured-image {
			height: 40vw;
		}
		.featured-image.iPhoneX {
			height: 50vw;
		}
		.featured-image.macbook {
			height: 40vw;
		}
	}
	.info {
		align-self: center;
		text-align: center;
		.title {
			margin: 4vw 0 0;
			font-family: $mainFont;
			font-weight: 500;
			font-size: 8vw;
		}
		.description {
			font-family: $mainFont;
			font-weight: 300;
			font-size: 5vw;
			margin: 0 0 6vw;
		}
	}
}


@media only screen and (min-width: 800px) {
    .featured-work-item {
		width: auto;
		.featured-image-container {
			border-radius: 3px;
			height: 30vw;
			width: 40vw;
			display: flex;
			align-items: center;
			justify-content: center;
			.featured-image {
				height: 40vw;
			}
			.featured-image.iPhoneX {
				height: 20vw;
			}
			.featured-image.macbook {
				height: 15vw;
			}
		}
		.info {
			align-self: center;
			text-align: center;
			.title {
				margin: 2vw 0 0;
				font-family: $mainFont;
				font-weight: 500;
				font-size: 3vw;
			}
			.description {
				font-family: $mainFont;
				font-weight: 300;
				font-size: 2vw;
				margin: 0 0 2vw;
			}
		}
	}
}