.underlined-title .title {
  margin: 10vw auto 0;
  text-align: center;
  font-size: 5vw;
  font-weight: 800;
}
.underlined-title .underlined {
  background-color: #16C667;
  height: 4px;
  width: 15%;
  margin: 0 auto 2vw;
  border-radius: 2px;
}
.underlined-title .width-20 {
  width: 20%;
}

.landing-page a {
  text-decoration: inherit;
  color: inherit;
  transition: all 0.5s ease;
}
.landing-page a:hover {
  opacity: 0.5;
}
.landing-page .main-landing-section {
  width: 100vw;
  height: 150vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  background: radial-gradient(rgba(119, 119, 119, 0), rgba(85, 63, 26, 0.4)), url("/static/main-site/assets/meMobile.jpg") no-repeat;
  background-position: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.landing-page .main-landing-section .title {
  font-family: "Tajawal";
  font-weight: 700;
  color: white;
  font-size: 15vw;
  align-self: end;
  margin: 0;
}
.landing-page .main-landing-section .subtitle {
  font-family: "Tajawal";
  font-weight: 400;
  color: white;
  font-size: 7vw;
  align-self: start;
  margin: 0;
}
.landing-page .hovering-tagline-landing-section {
  position: absolute;
  top: 135vw;
  height: 30vw;
  left: 10vw;
  width: 80vw;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Rectangle: */
  box-shadow: 0 2px 50px 15px rgba(0, 0, 0, 0.5);
}
.landing-page .hovering-tagline-landing-section p {
  line-height: 1.5;
  font-family: "Tajawal";
  font-weight: 400;
  color: white;
  font-size: 8vw;
  font-weight: 300;
  font-size: 6vw;
  text-align: center;
  width: 90%;
  margin: 0 4vw;
}
.landing-page .about-landing-section {
  background-color: #77ECAD;
  padding: 20vw 5vw;
}
.landing-page .about-landing-section div {
  margin: 10vw 0;
  font-family: "Tajawal";
  font-weight: 400;
  color: #333333;
  font-size: 8vw;
}
.landing-page .about-landing-section div span {
  font-weight: 700;
}
.landing-page .featured-landing-section {
  background-color: white;
  padding: 4vw 0 10vw;
  margin: 0;
}
.landing-page .featured-landing-section .title {
  font-family: "Tajawal";
  font-weight: 700;
  color: #333333;
  font-size: 15vw;
  margin: 10vw 5vw 2vw;
}
.landing-page .featured-landing-section .featured-work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin: 0 5vw;
}
.landing-page .featured-landing-section .see-all-work-button {
  font-family: "Tajawal";
  font-weight: 700;
  color: #16C667;
  font-size: 8vw;
  text-align: right;
  margin: 5vw 10px 0 0;
}
.landing-page .featured-landing-section .see-all-work-button span {
  cursor: pointer;
  transition: all 0.5s ease;
}
.landing-page .featured-landing-section .see-all-work-button span a {
  text-decoration: inherit;
  color: inherit;
}
.landing-page .featured-landing-section .see-all-work-button span:hover {
  color: #77ECAD;
}
.landing-page .fullstack-landing-section {
  position: relative;
}
.landing-page .fullstack-landing-section .title {
  font-family: "Tajawal";
  font-weight: 700;
  color: #333333;
  font-size: 15vw;
  margin: 10vw 5vw 2vw;
}
.landing-page .fullstack-landing-section .triangle {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 15vw solid #77ECAD;
  border-left: 100vw solid transparent;
}
.landing-page .testimonials-landing-section {
  background-color: #77ECAD;
  padding: 0 0 10vw;
}
.landing-page .testimonials-landing-section .title {
  font-family: "Tajawal";
  font-weight: 700;
  color: #333333;
  font-size: 15vw;
  margin: 0 5vw 5vw;
  text-align: center;
  padding: 10vw 0 0;
}
.landing-page .testimonials-landing-section .testimonial-item {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  margin: 2vw 8vw;
  font-family: "Tajawal";
  font-weight: 400;
  color: #333333;
  font-size: 8vw;
  align-items: center;
}
.landing-page .testimonials-landing-section .testimonial-item img {
  justify-self: center;
  width: 50%;
  border-radius: 100%;
  margin-bottom: 10vw;
}
.landing-page .testimonials-landing-section .testimonial-item .quote {
  text-align: right;
  font-weight: 300;
}
.landing-page .testimonials-landing-section .testimonial-item .speaker {
  justify-self: end;
  text-align: right;
}
.landing-page .testimonials-landing-section .dots-view {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  padding: 5vw 15vw 0;
}
.landing-page .testimonials-landing-section .dots-view .dot {
  cursor: pointer;
  width: 7.5vw;
  height: 7.5vw;
  background-color: #333333;
  border-radius: 5vw;
}
.landing-page .testimonials-landing-section .dots-view .dot.selected {
  background-color: white;
}
.landing-page .contact-landing-section {
  padding-bottom: 10vw;
  text-align: center;
  font-family: "Tajawal";
  font-weight: 400;
  color: #333333;
  font-size: 8vw;
}
.landing-page .contact-landing-section .title {
  font-family: "Tajawal";
  font-weight: 700;
  color: #333333;
  font-size: 15vw;
  margin: 10vw 0;
  text-align: center;
}
.landing-page .contact-landing-section .enter-email-view {
  margin: 0 5%;
}
.landing-page .contact-landing-section .my-email {
  margin-top: 15vw;
}
.landing-page .contact-landing-section .my-number {
  margin-top: 2vw;
}
.landing-page .contact-landing-section .my-location {
  font-weight: 300;
  margin-top: 10vw;
}

.featured-work-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.featured-work-item .featured-image-container {
  border-radius: 1vw;
  height: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-work-item .featured-image-container img {
  height: 40vw;
}
.featured-work-item .info {
  align-self: center;
  text-align: center;
}
.featured-work-item .info .title {
  margin: 4vw 0 0;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 8vw;
}
.featured-work-item .info .description {
  font-family: "Tajawal";
  font-weight: 300;
  font-size: 5vw;
  margin: 0 0 6vw;
}

.fullstack-items-container .fullstack-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 10fr;
  margin: 5vw 0 0;
}
.fullstack-items-container .fullstack-item .bullet-number {
  margin: 6vw 0 0 5vw;
  font-family: "Tajawal";
  font-weight: 700;
  color: #333333;
  font-size: 7vw;
}
.fullstack-items-container .fullstack-item .writing-container {
  margin: 0 5vw;
  padding: 2vw 4vw;
  /* Rectangle 5 Copy: */
  background: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  text-align: center;
}
.fullstack-items-container .fullstack-item .writing-container .title {
  margin: 4vw 0;
  font-size: 7vw;
  font-weight: 500;
}
.fullstack-items-container .fullstack-item .writing-container .content {
  margin: 4vw 0;
  font-family: "Tajawal";
  font-weight: 400;
  color: #333333;
  font-size: 5vw;
}

.colored-coral {
  color: #E35650;
}

.colored-teal {
  color: #77ECAD;
}

.colored-orange {
  color: #F6711C;
}

.colored-blue {
  color: #4A90E2;
}

.about-page {
  font-family: "Tajawal";
  color: #333;
}
.about-page a {
  text-decoration: inherit;
  color: inherit;
  transition: all 0.5s ease;
}
.about-page a:hover {
  opacity: 0.5;
}
.about-page .about-main-section {
  height: 150vw;
  width: 100vw;
  background-color: #E35650;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: space-around;
  color: white;
}
.about-page .about-main-section .title {
  font-weight: 500;
  font-size: 12vw;
  align-self: end;
  width: 90%;
  text-align: center;
}
.about-page .about-main-section .subtitle {
  font-size: 6vw;
  font-weight: 300;
  text-align: center;
}
.about-page .about-programming-section {
  padding: 5vw 5vw 10vw;
  background-color: #333333;
  color: white;
}
.about-page .about-programming-section .programming-description {
  font-size: 8vw;
  padding-top: 5vw;
  font-weight: 300;
}
.about-page .about-programming-section .programming-description-large {
  font-size: 15vw;
  margin-top: 15vw;
}
.about-page .about-programming-section .programming-things-container {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 8vw;
}
.about-page .about-programming-section .programming-things-container div {
  margin-top: 5vw;
}
.about-page .about-robotics-section {
  background-color: #77ECAD;
  padding: 10vw 5vw;
}
.about-page .about-robotics-section .robotics-description {
  font-size: 8vw;
}
.about-page .about-robotics-section .robotics-description-title {
  font-size: 10vw;
  font-weight: 600;
  margin-top: 5vw;
}
.about-page .about-robotics-section .robotics-description-huge-title {
  font-size: 15vw;
  font-weight: 800;
  margin-top: 10vw;
}
.about-page .about-sports-section {
  padding: 10vw 5vw;
}
.about-page .about-sports-section .sports-description {
  font-size: 8vw;
}
.about-page .about-sports-section .sports-description-bigger {
  font-size: 12vw;
  margin: 10vw 0;
}
.about-page .about-sports-section .sports-description-small {
  font-size: 6vw;
  margin-top: 5vw;
}
.about-page .about-sports-section .sports-description-huge {
  font-size: 15vw;
  font-weight: 800;
  margin: 10vw 0 0;
}
.about-page .about-sports-section .sports-description-medium {
  font-size: 6vw;
  font-weight: 600;
}
.about-page .about-sports-section .indented {
  margin-left: 5vw;
}
.about-page .about-connect-section {
  background-color: #E35650;
  display: flex;
  color: white;
  font-size: 12vw;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  padding: 10vw 7vw 10vw 5vw;
}

.work-page {
  margin: 25vw 0 0;
  font-family: "Tajawal";
}
.work-page .underlined-title .underlined {
  width: 45%;
}
.work-page .featured-work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin: 5vw 5vw 0;
}

.contact-page {
  margin: 25vw 0 0;
}
.contact-page .contact-section {
  padding-bottom: 15vw;
  text-align: center;
  font-family: "Tajawal";
  font-weight: 400;
  color: #333333;
  font-size: 8vw;
}
.contact-page .contact-section .title {
  text-align: center;
}
.contact-page .contact-section .enter-email-view {
  margin: 10vw 5vw;
}
.contact-page .contact-section .my-email {
  margin-top: 15vw;
}
.contact-page .contact-section .my-number {
  margin-top: 2vw;
}
.contact-page .contact-section .my-location {
  font-weight: 300;
  margin-top: 10vw;
}
.contact-page a {
  text-decoration: inherit;
  color: inherit;
  transition: all 0.5s ease;
}
.contact-page a:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 800px) {
  .landing-page .main-landing-section {
    height: 100vh;
    background: radial-gradient(rgba(119, 119, 119, 0), rgba(85, 63, 26, 0.4)), url("/static/main-site/assets/me.jpg");
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .landing-page .main-landing-section .title {
    font-size: 6vw;
  }
  .landing-page .main-landing-section .subtitle {
    font-size: 3vw;
  }
  .landing-page .hovering-tagline-landing-section {
    top: 90vh;
    height: 20vh;
  }
  .landing-page .hovering-tagline-landing-section p {
    font-size: 3vw;
    text-align: center;
  }
  .landing-page .about-landing-section {
    padding: 10vw 5vw 5vw;
  }
  .landing-page .about-landing-section div {
    margin: 3vw 0;
    font-size: 3vw;
  }
  .landing-page .featured-landing-section {
    padding: 0 0 2vw;
  }
  .landing-page .featured-landing-section .title {
    margin: 5vw 5vw 2vw;
    font-size: 4vw;
  }
  .landing-page .featured-landing-section .featured-work-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.67vw;
    margin: 0 6.67vw;
  }
  .landing-page .featured-landing-section .see-all-work-button {
    font-size: 4vw;
    margin: 0 5vw 0 0;
  }
  .landing-page .fullstack-landing-section .title {
    margin: 2vw 5vw 0;
    font-size: 4vw;
  }
  .landing-page .fullstack-landing-section .triangle {
    border-bottom: 10vw solid #77ECAD;
  }
  .landing-page .testimonials-landing-section {
    padding: 0 0 5vw 0;
  }
  .landing-page .testimonials-landing-section .title {
    padding-top: 5vw;
    margin: 0 5vw;
    font-size: 4vw;
  }
  .landing-page .testimonials-landing-section .testimonial-item {
    font-size: 2vw;
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .landing-page .testimonials-landing-section .testimonial-item img {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 0 0 1vw;
    height: 100%;
    width: auto;
    justify-self: end;
    margin: 0 5vw 0 0;
  }
  .landing-page .testimonials-landing-section .testimonial-item .quote {
    padding-top: 2vw;
    width: 75%;
    justify-self: start;
    text-align: left;
    margin: 0 0 0 5vw;
  }
  .landing-page .testimonials-landing-section .testimonial-item .speaker {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 50%;
    justify-self: start;
    align-self: end;
    text-align: left;
    margin: 0.5vw 0 0 5vw;
  }
  .landing-page .testimonials-landing-section .dots-view {
    width: 40vw;
    padding: 4vw 0 0 30vw;
  }
  .landing-page .testimonials-landing-section .dots-view .dot {
    width: 2vw;
    height: 2vw;
  }
  .landing-page .contact-landing-section {
    font-size: 3vw;
    padding: 0 0 5vw 0;
  }
  .landing-page .contact-landing-section .title {
    margin: 5vw 5vw 2vw;
    font-size: 4vw;
  }
  .landing-page .contact-landing-section .enter-email-view {
    margin: 0 25%;
  }
  .landing-page .contact-landing-section .my-email {
    margin-top: 5vw;
  }
  .landing-page .contact-landing-section .my-number {
    margin-top: 2vw;
  }
  .landing-page .contact-landing-section .my-location {
    margin-top: 3vw;
  }

  .featured-work-item {
    width: auto;
  }
  .featured-work-item .featured-image-container {
    border-radius: 3px;
    height: 30vw;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-work-item .featured-image-container img {
    height: 15vw;
  }
  .featured-work-item .info {
    align-self: center;
    text-align: center;
  }
  .featured-work-item .info .title {
    margin: 2vw 0 0;
    font-family: "Tajawal";
    font-weight: 500;
    font-size: 3vw;
  }
  .featured-work-item .info .description {
    font-family: "Tajawal";
    font-weight: 300;
    font-size: 2vw;
    margin: 0 0 2vw;
  }

  .fullstack-items-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin: 0 5vw 0 5vw;
  }
  .fullstack-items-container .fullstack-item {
    grid-template-columns: 1fr 5fr;
    margin: 2vw 0 0;
  }
  .fullstack-items-container .fullstack-item .bullet-number {
    margin: 2vw 2vw 0;
    font-size: 3vw;
  }
  .fullstack-items-container .fullstack-item .writing-container {
    border-radius: 1vw;
    margin: 0;
    padding: 0;
  }
  .fullstack-items-container .fullstack-item .writing-container .title {
    margin: 2vw 2vw 0;
    padding: 0;
    font-size: 3vw;
  }
  .fullstack-items-container .fullstack-item .writing-container .content {
    margin: 1vw;
    padding: 0;
    font-size: 2vw;
  }
}
@media only screen and (min-width: 800px) {
  .about-page {
    font-family: "Tajawal";
    color: #333;
  }
  .about-page .about-main-section {
    height: 100vh;
    width: 100vw;
    background-color: #E35650;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: space-around;
    color: white;
  }
  .about-page .about-main-section .title {
    font-size: 6vw;
    align-self: end;
    width: 90%;
    text-align: center;
  }
  .about-page .about-main-section .subtitle {
    font-size: 3vw;
    text-align: center;
  }
  .about-page .about-programming-section {
    padding: 5vw 5vw 5vw;
  }
  .about-page .about-programming-section .programming-description {
    font-size: 3vw;
    padding-top: 4vw;
  }
  .about-page .about-programming-section .programming-description-large {
    font-size: 6vw;
    margin-top: 8vw;
  }
  .about-page .about-programming-section .programming-things-container {
    margin-top: 0vw;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    justify-content: space-between;
  }
  .about-page .about-robotics-section {
    padding: 5vw 5vw;
  }
  .about-page .about-robotics-section .robotics-description {
    font-size: 3vw;
    margin-top: 2vw;
  }
  .about-page .about-robotics-section .robotics-description-title {
    font-size: 4.5vw;
    margin-top: 2vw;
  }
  .about-page .about-robotics-section .robotics-description-huge-title {
    font-size: 8vw;
    margin-top: 6vw;
  }
  .about-page .about-sports-section {
    padding: 5vw 5vw;
  }
  .about-page .about-sports-section .sports-description {
    font-size: 3vw;
  }
  .about-page .about-sports-section .sports-description-bigger {
    font-size: 4vw;
    margin: 3vw 0;
  }
  .about-page .about-sports-section .sports-description-small {
    font-size: 2vw;
    margin-top: 1vw;
  }
  .about-page .about-sports-section .sports-description-huge {
    font-size: 5.5vw;
    margin: 3vw 0 0;
  }
  .about-page .about-sports-section .sports-description-medium {
    font-size: 2vw;
  }
  .about-page .about-sports-section .indented {
    margin-left: 5vw;
  }
  .about-page .about-connect-section {
    display: flex;
    font-size: 4vw;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 16vw 5vw 5vw;
  }
}
@media only screen and (min-width: 800px) {
  .work-page {
    margin: 10vw 0 0;
  }
  .work-page .underlined-title .underlined {
    width: 15%;
  }
  .work-page .featured-work-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.67vw;
    margin: 5vw 6.67vw;
  }
}
@media only screen and (min-width: 800px) {
  .contact-page {
    margin: 10vw 0 0;
  }
  .contact-page .contact-section {
    font-size: 3vw;
    padding: 0 0 5vw 0;
    text-align: center;
  }
  .contact-page .contact-section .title {
    margin: 5vw 5vw 0;
  }
  .contact-page .contact-section .enter-email-view {
    margin: 5vw 25vw 0;
  }
  .contact-page .contact-section .my-email {
    margin: 2vw 0 0 0;
  }
  .contact-page .contact-section .my-number {
    margin: 2vw 0 0 0;
  }
  .contact-page .contact-section .my-location {
    margin: 3vw 0 0 0;
  }
}
footer {
  background-color: #333333;
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-family: "Tajawal";
  padding: 5vw;
}
footer a {
  text-decoration: inherit;
  color: inherit;
  transition: all 0.5s ease;
  cursor: pointer;
}
footer a:hover {
  opacity: 0.5;
}
footer .nav-items {
  grid-row: 1/3;
  grid-column: 1/2;
  font-size: 8vw;
}
footer .nav-items div {
  margin-top: 2vw;
}
footer .social-media-symbols {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-bottom: 2vw;
}
footer .social-media-symbols a {
  text-align: right;
}
footer .social-media-symbols a img {
  width: 20%;
  transition: all 0.5s ease;
}
footer .social-media-symbols a img:hover {
  opacity: 0.5;
}
footer .email {
  font-size: 6vw;
  font-weight: 300;
  align-self: end;
  grid-row: 2/3;
  grid-column: 2/3;
}

@media only screen and (min-width: 800px) {
  footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr;
    padding: 2vw 5vw 4vw;
  }
  footer .nav-items {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
    align-self: end;
  }
  footer .social-media-symbols {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: end;
    margin-bottom: 0;
  }
  footer .social-media-symbols a {
    text-align: right;
  }
  footer .social-media-symbols a img {
    width: 50%;
  }
  footer .email {
    font-size: 2vw;
    align-self: end;
    justify-self: end;
  }
}
nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 5vw 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  justify-content: space-evenly;
  top: 0;
}
nav .nav-item {
  color: white;
  font-family: "Tajawal";
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
nav .nav-item a {
  color: inherit;
  text-decoration: inherit;
}
nav .nav-item:hover {
  opacity: 0.5;
}
nav .nav-item.selected {
  color: #77ECAD;
}
nav .nav-item.selected.dark {
  color: #16C667;
}
nav .nav-item.dark {
  color: #333333;
}

.mobile-nav-container #nav-icon {
  width: 40px;
  height: 30px;
  right: 10vw;
  top: 10vw;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 10;
  cursor: pointer;
}
.mobile-nav-container #nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.mobile-nav-container #nav-icon span.light {
  background-color: #FFFFFF;
}
.mobile-nav-container #nav-icon span.dark {
  background-color: #333;
}
.mobile-nav-container #nav-icon span:nth-child(1) {
  top: 0px;
}
.mobile-nav-container #nav-icon span:nth-child(2), .mobile-nav-container #nav-icon span:nth-child(3) {
  top: 12px;
}
.mobile-nav-container #nav-icon span:nth-child(4) {
  top: 24px;
}
.mobile-nav-container #nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
  background-color: #333333;
}
.mobile-nav-container #nav-icon.open span:nth-child(2) {
  background-color: #333333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-nav-container #nav-icon.open span:nth-child(3) {
  background-color: #333333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-nav-container #nav-icon.open span:nth-child(4) {
  background-color: #333333;
  top: 12px;
  width: 0%;
  left: 50%;
}
.mobile-nav-container .mobile-nav-items-container {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: absolute;
  top: 0;
  width: 90vw;
  left: 5vw;
  margin-top: 5vw;
  padding: 20vw 0 5vw;
  background-color: white;
  text-align: center;
  font-size: 8vw;
  font-family: "Tajawal";
  z-index: 9;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
}
.mobile-nav-container .mobile-nav-items-container div {
  margin: 4vw 0;
}
.mobile-nav-container .mobile-nav-items-container div a {
  text-decoration: inherit;
  color: inherit;
}
.mobile-nav-container .nav-hidden {
  visibility: hidden;
  display: none;
}
.mobile-nav-container .nav-shown {
  visibility: visible;
  opacity: 1;
}

.enter-email-view {
  /* Rectangle 6: */
  background: #FFFFFF;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20vw;
  width: 90%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease;
}
.enter-email-view .email-input {
  padding: 2vw 10%;
  font-size: 6vw;
  border: none;
  width: 60%;
  font-family: "Nunito Sans";
  font-weight: 300;
}
.enter-email-view .email-input:focus {
  outline: none;
}
.enter-email-view .send-button {
  font-size: 5vw;
  font-family: "Nunito Sans";
  font-weight: 300;
  padding: 4vw 0;
  width: 40%;
  text-align: center;
  background-color: #77ECAD;
  cursor: pointer;
  transition: all 0.5s ease;
}
.enter-email-view .send-button:hover {
  background-color: #16C667;
}

.enter-email-view:focus-within {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 800px) {
  .enter-email-view {
    width: 50%;
  }
  .enter-email-view .email-input {
    font-size: 2.5vw;
    padding: 0.5vw 5%;
  }
  .enter-email-view .send-button {
    font-size: 2.5vw;
    padding: 0.5vw 0;
  }
}
.underlined-title .title {
  margin: 15vw auto 0;
  text-align: center;
  font-size: 15vw;
  color: #333333;
  font-weight: 800;
}
.underlined-title .underlined {
  background-color: #16C667;
  height: 4px;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
}

@media only screen and (min-width: 800px) {
  .underlined-title .title {
    margin: 5vw auto 0;
    text-align: center;
    font-size: 5vw;
  }
  .underlined-title .underlined {
    background-color: #16C667;
    height: 4px;
    width: 25%;
    margin: 0 auto;
    border-radius: 2px;
  }
}
.notification-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 15vh;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.5);
  z-index: 15;
  background-color: white;
  transition: all 0.5s ease;
  background-size: 600% 600%;
  color: white;
  font-family: "Tajawal";
  font-size: 4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-modal div {
  margin: auto 0;
}

.notification-modal.green {
  background-color: #7CF510;
}

.notification-modal.red {
  background-color: #cb2d3e;
}

.notification-modal.yellow {
  background-color: #CAC531;
  /* fallback for old browsers */
}

.search-engine {
  font-family: "Tajawal", "sans-serif";
  background-color: #333333;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.search-engine img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.search-engine div.app-content {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.search-engine div.app-content div.welcome-title {
  color: white;
  font-size: 8vw;
  font-weight: 900;
  align-self: end;
}
.search-engine div.app-content form {
  align-self: center;
  justify-self: center;
  display: grid;
  justify-items: center;
}
.search-engine div.app-content form .search-bar {
  font-family: "Quicksand";
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4vw;
  border: none;
  padding: 1vw 5vw;
  width: 100%;
  font-size: 4vw;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
}
.search-engine div.app-content form :focus {
  border: 3px solid #23B7E7;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
