@import "../definitions";

.notification-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 15vh;
	box-shadow: 0 2px 18px 0 rgba(0,0,0,0.5);
	z-index: 15;
	background-color: white;
	transition: all 0.5s ease;
	background-size: 600% 600%;
	color: white;
	font-family: $mainFont;
	font-size: 4vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	div {
		margin: auto 0;
	}
}

.notification-modal.green {
	background-color: #7CF510;
}
.notification-modal.red {
	background-color: #cb2d3e;  
}
.notification-modal.yellow {
	background-color: #CAC531;  /* fallback for old browsers */
}