@import "../../definitions";

$coral: #E35650;
$teal: $secondaryColor;

@media only screen and (min-width: 800px) {
	.about-page {
		font-family: $mainFont;
		color: #333;
		.about-main-section {
			height: 100vh;
			width: 100vw;
			background-color: $coral;
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr;
			justify-items: center;
			justify-content: space-around;
			color: white;
			.title {
				font-size: 6vw;
				align-self: end;
				width: 90%;
				text-align: center;
			}
			.subtitle {
				font-size: 3vw;
				text-align: center;
			}
		}
	
		.about-programming-section {
			padding: 5vw 5vw 5vw;
			.programming-description {
				font-size: 3vw;
				padding-top: 4vw;
			}
			.programming-description-large {
				font-size: 6vw;
				margin-top: 8vw;
			}
			.programming-things-container {
				margin-top: 0vw;
				display: flex;
				flex-direction: row;
				font-size: 3vw;
				justify-content: space-between;
			}
		}
	
		.about-robotics-section{
			padding: 5vw 5vw;
			.robotics-description {
				font-size: 3vw;
				margin-top: 2vw;
			}
			.robotics-description-title {
				font-size: 4.5vw;
				margin-top: 2vw;
			}
			.robotics-description-huge-title {
				font-size: 8vw;
				margin-top: 6vw;
			}
		}
		.about-sports-section {
			padding: 5vw 5vw;
			.sports-description {
				font-size: 3vw;
			}
			.sports-description-bigger {
				font-size: 4vw;
				margin: 3vw 0;
			}
			.sports-description-small {
				font-size: 2vw;
				margin-top: 1vw;
			}
	
			.sports-description-huge {
				font-size: 5.5vw;
				margin: 3vw 0 0;
			}
			.sports-description-medium {
				font-size: 2vw;
			}
			.indented {
				margin-left: 5vw;
			}
		}
	
		.about-connect-section {
			display: flex;
			font-size: 4vw;
			justify-content: space-between;
			align-items: center;
			padding: 5vw 16vw 5vw 5vw;
		}
	}
}
