@import "../../definitions";

@media only screen and (min-width: 800px) {
	.contact-page {
		margin: 10vw 0 0;
		.contact-section {
			font-size: 3vw;
			padding: 0 0 5vw 0;
			text-align: center;
			.title {
				margin: 5vw 5vw 0;
			}
			.enter-email-view {
				margin: 5vw 25vw 0;
			}
			.my-email {
				margin: 2vw 0 0 0;
			}
			.my-number {
				margin: 2vw 0 0 0;
			}
			.my-location {
				margin: 3vw 0 0 0;
			}
		}
	}
}
